<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet" type="text/css" href="/home/pi/Project/rpi-iot-thermometer/bootstrap-3.4.1/css/bootstrap.min.css"/> -->
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

		<title>智能家居系统面板</title>

		<script type="text/javascript">
			$(document).ready(
				function() {
					$("#btn-refresh").click(
						function() {
							console.log('btn-refresh-click');
							$.get("/refresh_data", function(data, status) {
								console.dir(data);
								var temperature = data["temperature"];
								var humidity = data["humidity"];
								// 弹窗
								alert("已刷新, 温度:" +  temperature + " *C" + " 湿度:" + humidity + " %");
								// 更新label
								$("#text_temperature").html("<b>温度: </b>" + temperature + " *C");
								$("#text_humidity").html("<b>湿度: </b>" + humidity + " %");
								$("#refresh_time").html("最新更新时间: " + new Date().toLocaleString());
							}
							);	
						}
					);
					
					// create EChart
					// https://www.cnblogs.com/Dreamer-1/p/5530221.html
					var myChart = echarts.init(document.getElementById("chart"));
					chart_option = {
						title: {
							text: '温度变化趋势'
						},
						tooltip: {
							trigger: 'axis'   // 坐标轴触发提示框
						},
						legend: {
							show: true,
							data: ['温度 (℃)', '湿度 (%)']
						},

						color: [
							'#FF3333',		// 温度变化曲线
							'#53FF53'		// 湿度变化曲线
						],

						xAxis: {
							data: []
						},

						yAxis: [
							{
								type: 'value',
								name: '温度',
								max: 40,
								min: -10,
								axisLabel: {
									formatter: '{value} ℃'
								}
							},

							{
								type: 'value',
								name: '湿度',
								max: 100,
								min: 0,
								axisLabel: {
									formatter: '{value} %'
								}
							}
						],
						series: [
							{
								name: '温度 (℃)',
								type: 'line',
								smooth: true,
								yAxisIndex: 0,
								data: []
							},

							{
								name: '湿度 (%)',
								type: 'line',
								symbol: 'emptyrect',
								yAxisIndex: 1,  // 第2个y axis
								data: []
							}
						]
					};

					myChart.setOption(chart_option);
					myChart.showLoading();  // 数据加载之前显示loading画面
					
					var tems = [];		// 存放温度的数组
					var hums = [];		// 存放湿度的数组
					var dates = [];		// 时间数组

					setInterval(function(){
						$.get("/refresh_data", function(data, status) {
							var temperature = data["temperature"];
							var humidity = data["humidity"];
							tems.push(temperature);
							hums.push(humidity);
							dates.push(new Date().toLocaleString());

							// 更新label
							$("#text_temperature").html("<b>温度: </b>" + temperature + " *C");
							$("#text_humidity").html("<b>湿度: </b>" + humidity + " %");
							$("#refresh_time").html("最新更新时间: " + new Date().toLocaleString());

							myChart.hideLoading();  // 隐藏加载动画


							// 更新Echart
							myChart.setOption(
								{
									xAxis: {
										data: dates    // 填入x轴数据
									},

									series: [
										{
											// 根据name对应相应的系列
											name: '温度',    
											data: tems
										},
										{
											name: '湿度',
											data: hums
										}
									]
								}
							);
						})

					}, 5000);
				}
			);
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="panel panel-default panel-primary">
				<div class="panel-heading text-center">
					智能家居系统
				</div>
				<div class="panel-body">
					<h3>室内温湿度</h3>
					<ul>
						<!-- temperature, humidity are get from Flask -->
						<li id="text_temperature"><b>温度:</b> {{temperature}} *C</li>
						<li id="text_humidity"><b>湿度:</b> {{humidity}} %</li> <br>
					</ul>
					<button class="btn btn-info glyphicon glyphicon-refresh" id="btn-refresh">刷新</button> <br> <br>
					<p id="refresh_time">最近一次更新时间: 2021-11-20:09:00:00</p>
				</div>
				
				<div class="panel-footer text-center">
					检测数据来源于Raspberry服务器, sensor_type={DS18B20, DHT11} <br>
					Powered by penghui.wei
				</div>
			</div>
			<div id="chart" style="height: 500px;"></div>
		</div>
	</body>
</html>