<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet" type="text/css" href="/home/pi/Project/rpi-iot-thermometer/bootstrap-3.4.1/css/bootstrap.min.css"/> -->
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

		<title>智能家居系统面板</title>

		<script type="text/javascript">
			$(document).ready(
				function() {
					$("#btn-refresh").click(
						function() {
							console.log('btn-refresh-click');
							var date = new Date();
							$("#refresh_time").html("最近一次更新时间: " + date.toLocaleString());
							$.get("/refresh_data", function(data, status) {
								console.dir(data);
								temperature_ds18b20 = data["temperature_DS18B20"];
								temperature_dht11 = data["temperature_DHT11"];
								humidity_dht11 = data["humidity_DHT11"];
								alert("已刷新,temperature:" +  temperature_ds18b20);
								$("#ds18b20_temperature").html("<b>室内温度: </b>" + temperature_ds18b20 + " *C");
								$("#dht11_temperature").html("<b>室内温度: </b>" + temperature_dht11 + " *C")
								$("#dht11_humidity").html("<b>室内湿度: </b>" + humidity_dht11 + " %")

							}
							);	
						}
					);
					
					var myChart = echarts.init(document.getElementById("chart"));
					var timeStamp = [];
					var temperature_data_array = [25];
					var k = 1;

					chart_option = {
						title: {
							text: '温度变化趋势'
						},
						tooltip: {},
						xAxis: {
							data: timeStamp
						},
						yAxis: {},
						series: [{
							name: 'Temperature',
							type: 'line',
							data: temperature_data_array
						}]
					};

					myChart.setOption(chart_option);
					setInterval(function(){
						$.get("/refresh_data", function(data, status) {
							var temperature = data["temperature_DS18B20"];
							// var humidity = data["humidity_DHT11"];
							temperature_data_array.push(temperature);
							k += 1;
							timeStamp.push(k);
							myChart.setOption(chart_option);
						})

					}, 30000);
				}
			);
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="panel panel-default panel-primary">
				<div class="panel-heading text-center">
					智能家居系统
				</div>
				<div class="panel-body">
					<h3>#DS18B20</h3>
					<ul>
						<li id="ds18b20_temperature" class="bi bi-thermometer-half"><b>室内温度:</b> {{ds18b20_temperature}} *C</li>
					</ul>
					
					<h3>#DHT11</h3>
					<ul>
						<li id="dht11_temperature"><b>室内温度:</b> {{dht11_temperature}} *C</li>
						<li id="dht11_humidity"><b>室内湿度:</b> {{dht11_humidity}} %</li> <br>
					</ul>
					<button class="btn btn-info glyphicon glyphicon-refresh" id="btn-refresh">刷新</button> <br>
					<p id="refresh_time">最近一次更新时间: 2021-11-20:09:00:00</p>
				</div>
				<div class="panel-footer text-center">
					检测数据来源于Raspberry设备 <br>
					Powered by penghui.wei
				</div>
			</div>

			<div id="chart" style="height: 500px;"></div>

		</div>

	</body>
</html>